.parent-div{
  margin-bottom: 10px;
}
.basic-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-right: 10px;
}
.basic-text {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.heading-text {
  font-size: 34px;
  color: #2c3e50;
  margin-bottom: 20px;
}

.basic-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;

  
}

.basic-button:hover {
  background-color: #0056b3;
}

.header{
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-title {
  font-size: 24px;
  color: #000;
  margin: 0;
}

.nav {
  display: flex;
  gap: 20px;
  background-color: hsl(120, 18%, 33%);
  padding: 10px 20px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
}

.nav-links:hover {
  text-decoration: underline;
}

.topics-section {
  margin-top: 20px;
  text-align: center;
}

.heading-3{
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

.topics-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.user-info-card{
  display:grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap:12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
}

.user-profile {
  grid-column: 1;
  width: 48px;
  height: 48px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}

.user-name{
  grid-column: 2;
  align-self: center;
  text-align: left;
  font-weight: 600;
}

.user-role {
  grid-column: 2;
  align-self: center;
  font-weight: 400;
  text-align: left;
  margin-top: -18px;
}

.country-info {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 350px;
  margin: 20px auto;
  background: #fafafa;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  text-align: left;
}